<h1>New phone</h1>

<% form_for(@phone) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :phone_type %><br />
    <%= f.text_field :phone_type %>
  </p>
  <p>
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', phones_path %>